name: ML CI/CD Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train_model:
    name: Train ML Model in Docker
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build training image
        run: docker build -t speech-trainer -f Dockerfile.multistage --target trainer .

      - name: Run training container
        run: |
          docker run --name trainer_container speech-trainer | tee trainer_logs.txt

      - name: Copy trained model from container
        run: |
          docker cp trainer_container:/app/saved_model.pth saved_model.pth
          ls -l saved_model.pth

      - name: Upload trained model artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: saved_model.pth

      - name: Upload training logs
        uses: actions/upload-artifact@v4
        with:
          name: training-logs
          path: trainer_logs.txt

  test_inference:
    name: Test Inference & Benchmark
    runs-on: ubuntu-latest
    needs: train_model

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download trained model
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: ./model_artifacts

      - name: Move model into project root
        run: mv model_artifacts/saved_model.pth saved_model.pth

      - name: Build inference image
        run: docker build -t speech-api -f Dockerfile.multistage --target runtime .

      - name: Run inference container
        run: |
          docker run -d -p 5000:5000 --name inference speech-api
          echo "Waiting for API to start..."
          sleep 8

      - name: Install Python deps for benchmark
        run: |
          pip install requests
          pip install torch==2.2.0+cpu torchaudio==2.2.0+cpu

      - name: Run benchmark
        run: python benchmark.py

      - name: Upload benchmark results
        uses: actions/upload-artifact@v4
        with:
          name: benchmark
          path: metrics.json

  publish_image:
    name: Push Image to GHCR
    runs-on: ubuntu-latest
    needs: [train_model, test_inference]
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build production image
        run: docker build -t ghcr.io/${{ github.repository }}/speech-api:latest -f Dockerfile.multistage --target runtime .

      - name: Push image
        run: docker push ghcr.io/${{ github.repository }}/speech-api:latest
